.HomePage{
    height: auto;
    background: linear-gradient(180deg, black,rgb(86, 85, 85))60%;
    display: flex;
}

.HomePage-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.HomePage-left h2{
    color: whitesmoke;
    font-size: 26px;
    font-weight: 600;
}

.HomePage-left p{
    color: whitesmoke;
    font-size: 100px;
    font-weight: 700;
}

.new-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: rgb(209, 108, 108);
    color: bisque;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.HomePage-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.HomePage-right img{
    width: 50%;
    align-items: center;
}